<%- layout('Hello.ejs') %> 
    <h1> Edit Employee Details </h1>
    <form action="/employee/<%= employee._id %>?_method=PUT"  method="POST">
        <label for="empName">Employee Name:</label>
        <input type="text" name="empName" id="empName"placeholder="Employee Name" value="<%= employee.empName %> ">
        <br>
        <br>

        <label for="empId">Employee ID:</label>
        <input type="text" name="empId" id="empId" placeholder="Employee ID" value="<%= employee.empId %> ">
        <br>
        <br>

        <label for="age">Age:</label>
        <input type="number" name="age" id="age" placeholder="Age" value="<%= employee.age %> ">
        <br>
        <br>

        <label for="dept">Department:</label>
        <select name="dept" id="dept">
            <option value="SALES">SALES</option>
            <option value="MARKETING">MARKETING</option>
            <option value="DEVELOPER">DEVELOPER</option>
            <option value="TECH SUPPORT">TECH SUPPORT</option>
        </select>
        <br>
        <br>

        <label for="deptId"> Department ID:</label>
        <input type="text" name="deptId" id="deptId" placeholder="Department ID" value="<%= employee.deptId %> ">
        <br>
        <br>

        <button>Submit</button>

    </form>
